


/* ----------------BACKGROUND FOR ALL PAGES---------------- */

body {
    background-image: url('../images/matthijs-smit-bRG2C0FAQEY-unsplash.jpg');
    background-attachment: fixed;
    background-position: top-left;
}

/* ----------------COLORS---------------- */

body * {
    color: #fafafa;
}

/* ----------------NAVBAR---------------- */

#top-nav {
    background: rgb(0,0,0,0.8);
}

#top-nav .nav-link {
    color: #fafafa;
    padding: 8px;
}

#top-nav .navbar-toggler {
    border-color: #fafafa;
    border-width: 1px;
    background-color: rgba(255, 255, 255, .2);
}

#top-nav .active .nav-link {
    background: #fafafa;
    color: black;
    border-radius: 4px;
}

/* SMALLER BRAND FONT FOR NARROW MOBILE SCREENS */
@media screen and (max-width:340px)
{
#top-nav .navbar-brand {
    font-size: 1rem;
}

}

/* ----------------HEADER---------------- */

#main-header {
    margin-top: 100px;
    text-align: center;
}

#main-header h1 {
    max-width: 660px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .2);
}

#main-header a {
    color: #fafafa;
}

#main-header a:hover {
    text-decoration: none;
    color: #fafafa;
}


/* ----------------CAROUSEL---------------- */

#quote-carousel {
    margin-top: 50px;
}


/* increase space between carousel controls and content */
#quote-carousel .carousel-item>p{
    text-align: center;
    padding: 20px 50px 50px 50px;
    margin: 0 30px;
}