/* ----------------GOOGLE FONTS---------------- */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

/* ----------------SMOOTH SCROLL---------------- */

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
	}
}

/* ----------------SMOOTH LINK HOVER TRANSITION---------------- */

a {
    transition: color .2s, background-color .4s;
}

/* ----------------BACKGROUND FOR ALL PAGES---------------- */
/* 
body {
    background-image: url('../images/drum-bg.jpg');
    background-attachment: fixed;
    background-position: top-left;
} */

/* ----------------COLORS---------------- */

body {
    background-color: #fafafa;
}

#top-nav {
    background:rgba(66, 66, 66, 0.5)
}

#top-nav .nav-link {
    color: #fafafa;
}

#top-nav .nav-link:hover, #top-nav .navbar-brand:hover {
    color: #c1c1c1;
}

#top-nav .active .nav-link {
    background: #fafafa;
    color: black;
}

#top-nav .active .nav-link:hover {
    background-color: #000;
    color: #fafafa;
}

#top-nav .navbar-toggler {
    border-color: #fafafa;
}

#main-header h1 {
    background-color: rgba(66, 66, 66, 0.5);
    color: #fafafa;
}

.book-now-btn {
    background-color: #ef6c00;
    border-color: #000;
    color: #fafafa;
}

.book-now-btn:hover, #top-nav .book-now-btn:hover {
    border-color: #fff;
    background-color: #b53d00;
    color: #fafafa;
}

.book-now-btn:focus {
    background-color: #b53d00;
    border-color: #000;
    box-shadow: none;
}

#intro-section, #lesson-cards-section {
    background-color: #fafafa;
}

#main-footer {
    background-color: #D5D5D5;
    border-top: #000 solid 1px;
}

/* ----------------NAVBAR---------------- */

#top-nav {
    font-family: 'Righteous', sans-serif;
}

#top-nav {
    border-bottom: #000 1px solid;
}

.logo-link img{
    border-radius: 5px;
}

#top-nav .nav-link {
    padding: 8px;
}

#top-nav .navbar-toggler {
border-width: 1px;
}

#top-nav .active .nav-link {
    border-radius: 4px;
}

/* SMALLER BRAND FONT FOR NARROW MOBILE SCREENS */
@media screen and (max-width:340px)
{
    #top-nav .navbar-brand {
        font-size: 1rem;
    }

}

/* ----------------HEADER---------------- */

#main-header {
    padding-top: 100px;
    height: 100vh;
    background-image: url('../images/drum-bg.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    text-align: center;
}

#main-header .container-fluid {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main-header h1 {
    max-width: 660px;
    margin: 0 auto;
    border-radius: 6px;
}

#more-info-button {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

#more-info-button a{
    text-decoration: none;
    color: #fafafa;
}

#more-info-button a:hover {
    text-decoration: none;
}

#more-info-button i {
    font-size: 4rem;
}

/* ----------------CAROUSEL---------------- */

#quote-carousel {
    margin-top: 50px;
}


/* increase space between carousel controls and content */
#quote-carousel .carousel-item>p{
    text-align: center;
    padding: 20px 50px 50px 50px;
    margin: 0 30px;
}


/* ----------------INTRO SECTION---------------- */

#intro-section {
    padding-top: 100px;
    font-size: 1.5rem;
}

/* ----------------LESSON CARDS SECTION---------------- */


#lesson-cards-section .card {
    background: none;
    border: #000 solid 1px;
    border-radius: 20px;
}

#lesson-cards-section .card-img-top {
    height: 200px;
    object-fit: cover;
}

#lesson-cards-section .card-body{
    border-radius: 0 0 20px 20px;
    background-color: #D5D5D5;
}

#lesson-cards-section .card-img-top {
    border-radius: 20px 20px 0 0;
}

#lesson-cards-section .card-title {
    text-decoration: underline;
}

/* ----------------FOOTER---------------- */

#main-footer {
    text-align: center;
}

#main-footer a {
    color: #000;
    text-decoration: none;
    /* transition: color .4s; */
}

#main-footer a:hover {
    color: #fafafa;
}

#main-footer i {
    font-size: 2rem;
    padding: 0 2px;
}

#main-footer .vertical-align-links {
    display: flex;
    align-items: center;
}

.copyright-fine-print {
    display: flex;
    justify-content: space-between;
}


/* on narrow screens reduce font size of email address and phone number */
@media screen and (max-width:750px) {
    #main-footer .responsive-text-size{
        font-size: .7rem;
    }
}



/* ----------------GALLERY PAGE---------------- */

/* masonry gallery layout taken from code-institute love running project */

#gallery {
    background-color: #000;
    margin-top: 67px;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#gallery img {
    width: 100%;
}