/* ----------------GOOGLE FONTS---------------- */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

/* ----------------SMOOTH SCROLL---------------- */

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
	}
}

/* ----------------SMOOTH LINK HOVER TRANSITION---------------- */

a {
    transition: color .2s, background-color .4s;
}

/* ----------------BACKGROUND FOR ALL PAGES---------------- */
/* 
body {
    background-image: url('../images/drum-bg.jpg');
    background-attachment: fixed;
    background-position: top-left;
} */

/* ----------------COLOR VARIABLES---------------- */
/* 
:root {
    --transparent-grey-bg: rgba(66, 66, 66, 0.5);
    --light-grey-bg: #D5D5D5;
    --white-text-color: #fafafa;
    --white-text-hover: #c1c1c1;
    --black-text-color: #000;
    --main-orange-btn-bg: #ef6c00;
    --main-orange-btn-hover: #b53d00;
} */

:root {
    --transparent-grey-bg: rgba(66, 66, 66, 0.5);
    --light-grey-bg: #D5D5D5;
    --white-text-color: #fafafa;
    --white-text-hover: #c1c1c1;
    --black-text-color: #000;
    --main-orange-btn-bg: #c43c00;
    --main-orange-btn-hover: #ff6d00;
}

body {
    background-color: var(--white-text-color);
}

#main-header h1 {
    background-color: var(--transparent-grey-bg);
    color:var(--white-text-color);
}

.book-now-btn {
    background-color: var(--main-orange-btn-bg);
    border-color: var(--black-text-color);
    color:var(--white-text-color);
}

.book-now-btn:hover, #top-nav .book-now-btn:hover {
    border-color: var(--white-text-color);
    background-color: var(--main-orange-btn-hover);
    color:var(--white-text-color);
}

.book-now-btn:focus {
    background-color: var(--main-orange-btn-hover);
    border-color: var(--black-text-color);
    box-shadow: none;
}
/* 
#intro-section, #lesson-cards-section {
    background-color:var(--white-text-color);
} */

#main-footer {
    background-color: var(--light-grey-bg);
    border-top: var(--black-text-color) solid 1px;
}

.lessons-page-cards-section h1 {
    background-color: var(--transparent-grey-bg);
    color:var(--white-text-color);
}

#quote-carousel {
    background-color: var(--transparent-grey-bg);
    color:var(--white-text-color);
}

/* ----------------NAVBAR---------------- */

#top-nav {
    font-family: 'Righteous', sans-serif;
}

#top-nav .nav-link:hover, #top-nav .navbar-brand:hover {
    color: var(--white-text-hover);
}

#top-nav .active .nav-link {
    background:var(--white-text-color);
    color: var(--black-text-color);
}

#top-nav .active .nav-link:hover {
    background-color: var(--black-text-color);
    color:var(--white-text-color);
}

#top-nav .navbar-toggler {
    border-color:var(--white-text-color);
}


#top-nav {
    background: var(--transparent-grey-bg);
    border-bottom: var(--black-text-color) 1px solid;
}

.logo-link img{
    border-radius: 5px;
}

#top-nav .nav-item {
    padding: 0 4px;
}

#top-nav .nav-link {
    color: var(--white-text-color);
    padding: 8px;
}

#top-nav .navbar-toggler {
border-width: 1px;
}

#top-nav .active .nav-link {
    border-radius: 4px;
}

/* SMALLER BRAND FONT FOR NARROW MOBILE SCREENS */
@media screen and (max-width:340px)
{
    #top-nav .navbar-brand {
        font-size: 1rem;
    }

}

/* ----------------HEADER---------------- */

#main-header {
    padding-top: 100px;
    height: 100vh;
    background-image: url('../images/drum-bg.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    text-align: center;
}

#main-header .container-fluid {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main-header h1 {
    max-width: 660px;
    margin: 0 auto;
    border-radius: 6px;
}

#more-info-button {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

#more-info-button a{
    text-decoration: none;
    color:var(--white-text-color);
}

#more-info-button a:hover {
    text-decoration: none;
    color:  var(--main-orange-btn-bg);
}

#more-info-button i {
    font-size: 4rem;
}

.book-now-btn {
    font-family: 'Righteous', sans-serif;
}

/* ----------------INTRO SECTION---------------- */

#intro-section {
    padding-top: 100px;
    font-size: 1.5rem;
}

/* ----------------LESSON CARDS SECTION---------------- */


#lesson-cards-section .card {
    background: none;
    border: var(--black-text-color) solid 1px;
    border-radius: 20px;
}

#lesson-cards-section .card-img-top {
    height: 200px;
    object-fit: cover;
}

#lesson-cards-section .card-body{
    border-radius: 0 0 20px 20px;
    background-color: var(--light-grey-bg);
}

#lesson-cards-section .card-img-top {
    border-radius: 20px 20px 0 0;
}

#lesson-cards-section .card-title {
    text-decoration: underline;
}

/* ----------------FOOTER---------------- */

#main-footer {
    text-align: center;
}

#main-footer a {
    color: var(--black-text-color);
    text-decoration: none;
    /* transition: color .4s; */
}

#main-footer a:hover {
    color: var(--white-text-color);
}

#main-footer i {
    font-size: 2rem;
    padding: 0 2px;
}

#main-footer .vertical-align-links {
    display: flex;
    align-items: center;
}

.copyright-fine-print {
    display: flex;
    justify-content: space-between;
}

#main-footer .copyright-fine-print i {
    font-size: 1rem;
}


/* on narrow screens reduce font size of email address and phone number */
@media screen and (max-width:750px) {
    #main-footer .responsive-text-size{
        font-size: .7rem;
    }
}

/* POSITION FOOTER AT BOTTOM OF PAGE */

#main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* ----------------GALLERY PAGE---------------- */

#main-wrapper .gallery-page-main-content {
    min-height: 100vh;
    background-color: var(--black-text-color);
    background-image: url('../images/drum-bg.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    text-align: center;
}

/* masonry gallery layout taken from code-institute love running project */

#gallery {
    background-color:var(--transparent-grey-bg);
    margin-top: 67px;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#gallery img {
    width: 100%;
}


/* ----------------LESSONS PAGE---------------- */

#main-wrapper .lessons-page-main-content {
    background-image: url('../images/drum-bg.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    text-align: center;
}

.lessons-page-cards-section h1 {
    text-align: center;
    max-width: 660px;
    margin: 100px 0 30px 0;
    border-radius: 6px;
}

/* TESTIMONIAL CAROUSEL */

#quote-carousel {
    height: 150px;
    margin-top: 50px;
}

/* increase space between carousel controls and content */
#quote-carousel .carousel-item > p{
    /* height: 4rem; */
    text-align: center;
    padding: 20px 50px 50px 50px;
    margin: 0 30px;
}



/* ----------------CONTACT PAGE---------------- */

#main-wrapper .contact-page-main-content {
    padding: 100px 0;
    min-height: 100vh;
    background-color: var(--black-text-color);
    background-image: url('../images/drum-bg.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    text-align: center;
}

.contact-page-form-section, .contact-page-contacts-section {
    background-color:var(--transparent-grey-bg);
    color:var(--white-text-color);
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.contact-page-form-section .contact-form-heading, .contact-page-contacts-section .contacts-section-heading {
    font-weight: 600;    
}

/* hr styling idea taken from https://css-tricks.com/examples/hrs/ */
.contact-page-form-section hr, .contact-page-contacts-section hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(250,250,250,0), rgba(250,250,250,.4),rgba(250,250,250,.4), rgba(250,250,250,0));
}

.contact-form .form-control {
    color: --black-text-color;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .6);
}

.contact-form .form-control:focus {
    border-color: var(--main-orange-btn-bg);
    box-shadow: 0 0 0 0.2rem rgba(239,108,0,.25);
}

.contact-form .book-now-btn {
    width: 100%;
}

.contact-page-contacts-section {
    color:var(--white-text-color);
    font-size: 1rem;
}

.contact-page-contacts-section a {
    color:var(--white-text-color);

}

.contact-page-contacts-section a:hover{
    color: var(--white-text-hover);
    text-decoration: none;
}

.contact-page-contacts-section i {
    font-size: 2rem;
    padding: 0 2px;
}

.contact-page-contacts-section .vertical-align-links {
    display: flex;
    align-items: center;
}